<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="Funciones.js"></script>
</head>
<body>
    <header>
        <a href="#" class="logo"> 
            <img src="../img/logo.png" alt="logo tienda">
            <h2 class="nombre-tienda"><img src="../img/fondopixel2.png" alt=""></h2>
            <h1>Carrito de compras</h1>
         </a>
   <nav> 
    <a href="index.html" class="nav-link">Inicio <i class="fa-solid fa-house"></i></a>
    <a href="productos.html" class="nav-link">Productos <i class="fa-solid fa-bag-shopping"></i></a>
    <a href="iniciarsesion.html" class="nav-link">Iniciar sesion <i class="fa-solid fa-address-card"></i></a>
    <a href="EditarPerfil.html" class="nav-link">Editar perfil <i class="fa-solid fa-user"></i></a>
    <a href="Contacto.html" class="nav-link">Contacto <i class="fa-solid fa-phone"></i></a>
    <a href="CarritoCompras.html" class="nav-link">Carrito de compras  <i class="fa-solid fa-cart-shopping"></i></a>
   
       </header>
       <div class="fondo6">
       <header3>
        <h1>Carrito de compras</h1>
       </header3>
       <section class="Contenedor5">
<div class="contenedor-items">
<div class="item"></div>
<span class="titulo-item">Buho de harry potter</span>
<img src="../img/llavero1.jpeg" alt="img-item">
<span class="precio-item">$2.000</span>
<button class="boton-item">-</button><button>1 <i class="fa-solid fa-bag-shopping"></i></button><button>+</button>

<div class="item"></div>
<span class="titulo-item">Pikachu de pokemon</span>
<img src="../img/llavero2.jpeg" alt="img-item">
<span class="precio-item">$2.500</span>
<button class="boton-item">-</button><button>1 <i class="fa-solid fa-bag-shopping"></i></button><button>+</button>
<div class="item"></div>
<span class="titulo-item">Bulbasaur de pokemon</span>
<img src="../img/llavero3.jpeg" alt="img-item">
<span class="precio-item">$2.500</span>
<button class="boton-item">-</button><button>1 <i class="fa-solid fa-bag-shopping"></i></button><button>+</button>


<div>

    <span class="precio-total">Su total es $7.000</span>
<button>Pagar <i class="fa-sharp fa-solid fa-cash-register"></i></button>
       </section>
       
    </div>
</body>
</html>