<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seccion de productos</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
</head>
<body>
    <header>
        <a href="#" class="logo"> 
       <img src="../img/logo.png" alt="logo tienda">
       
       <h2 class="nombre-tienda"><img src="../img/fondopixel2.png" alt=""></h2>
       <div class="contenedor"> <h1> llaveros</h1></div>
    </a>
   <nav> 
    <a href="index.html" class="nav-link">Inicio <i class="fa-solid fa-house"></i></a>
    <a href="productos.html" class="nav-link">Productos <i class="fa-solid fa-bag-shopping"></i></a>
    <a href="iniciarsesion.html" class="nav-link">Iniciar sesion <i class="fa-solid fa-address-card"></i></a>
    <a href="EditarPerfil.html" class="nav-link">Editar perfil <i class="fa-solid fa-user"></i></a>
    <a href="Contacto.html" class="nav-link">Contacto <i class="fa-solid fa-phone"></i></a>
    <a href="CarritoCompras.html" class="nav-link">Carrito de compras  <i class="fa-solid fa-cart-shopping"></i></a>
   
       </header>

       
    <div class="fondo2">
      <div class ="contenedor"></div>
    <div class="container">

        
   
    <div class="row">
    <div class="col">
    <div><img src="../img/llavero1.jpeg"  alt="llavero 1" class="imgproducto"  > </div>
    <h3>Buho de Harry Potter</h3><p>  $2.000 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button> </p> </div>
    <div class="col">
    
    <div><img src="../img/llavero2.jpeg"  alt="llavero 2"class="imgproducto"></div>
    <h3>Pikachu de pokemon </h3><p>$2.500 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button></p></div>
    <div class="col">
    
    <div><img src="../img/llavero3.jpeg"  alt="llavero 1"class="imgproducto"></div>
    <h3>Bulbasaur de pokemon</h3>    <p>$2.500 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button></p></div>
    <div class="col"></div>

    <div class="row">
      <div class="col">
      <div><img src="../img/llavero4.jpeg"  alt="llavero 1" class="imgproducto"  > </div>
      <h3>Ditto de pokemon</h3><p>  $2.000 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button> </p> </div>
      <div class="col">
      
      <div><img src="../img/llavero5.jpeg"  alt="llavero 2"class="imgproducto"></div>
      <h3>Valorant </h3><p>$2.500 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button></p></div>
      <div class="col">
      
      <div><img src="../img/llavero6.jpeg"  alt="llavero 1"class="imgproducto"></div>
      <h3>Valorant</h3>    <p>$2.500 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button></p></div>
      <div class="col"></div>

      <div class="row">
        <div class="col">
        <div><img src="../img/llavero7.jpeg"  alt="llavero 1" class="imgproducto"  > </div>
        <h3>Valorant</h3><p>  $2.000 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button> </p> </div>
        <div class="col">
        
        <div><img src="../img/llavero8.jpeg"  alt="llavero 2"class="imgproducto"></div>
        <h3>Valorant </h3><p>$2.500 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button></p></div>
        <div class="col">
        
        <div><img src="../img/llavero9.jpeg"  alt="llavero 1"class="imgproducto"></div>
        <h3>Vocaloid</h3>    <p>$2.500 <button>Añadir al carrito <i class="fa-solid fa-cart-shopping"></i></button></p></div>
        <div class="col"></div>
    
</div>




</body>
</html>